body {
    background: #f3f5f7;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fc2;
}

#mensagem {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
